.katcont {
	padding-bottom:10px;
	background:url(images/kate/f.png) no-repeat bottom left;
	}
.katcont .khe {
	display:block;
	background:url(images/kate/b.png) no-repeat top left;
	position:relative;
	height:45px;
	line-height:40px;
	font-size:17px;
	font-family:impact;
	color:#fefefe;
	letter-spacing:1px;
	font-weight:normal;
	padding:0px 5px;
	text-shadow:1px 1px 1px #000;
	}	
.tumunugos {
	position:absolute;
	right:40px;
	width:100px;
	font-size:11px;
	color:#F90;
	top:0px;
	height:40px;
	line-height:40px;
	font-family:Arial, Helvetica, sans-serif;
}	
.hrss {
	position:absolute;
	right:5px;
	width:32px;
	font-size:11px;
	color:#F90;
	top:10px;
	height:19px;
	font-family:Arial, Helvetica, sans-serif;
}	
.katcont .kbc {
	background:url(images/kate/m.png) repeat-y top left;
	padding:10px 10px 0px 10px;
	min-height:100px;
	}	
.katcont .kbc .hkl {
	float:left;
	width:452px;
	}	
.katcont .kbc .hkr {
	float:right;
	width:168px;
	}		
.haberkutu {
	margin-bottom:5px;
	}		
.haberkutu .hkresim{
	width:150px;
	height:90px;
	float:left;
	margin-right:5px;
	}		
.haberkutu .hkbaslik{
	display:block;
	font-size:14px;
	color:#900;
	line-height:16px;
	}	
.haberkutu .hkicerik{
	display:block;
	font-size:11px;
	color:#666;
	line-height:13px;
	letter-spacing:1px;
	}	
.katcont .kbc .hkr ul {
	list-style:none;
	}	
.katcont .kbc .hkr ul li{
	display:block;
	margin-bottom:4px;
	padding:3px;
	}		
.katcont .kbc .hkr ul li a{
	display:block;
	background:url(images/kate/tag.png) no-repeat center left;
	padding-left:20px;
	line-height:16px;
	font-size:12px;
	color:#666;
	}
.katcont .kbc .hkr ul li a:hover{
	display:block;
	background:url(images/kate/tag.png) no-repeat center left;
	padding-left:20px;
	line-height:16px;
	font-size:12px;
	color:#333;
	}
	
/*Köşe*/
.koseyazibaslik {
	font-size:17px;
	font-weight:lighter;
	font-family:impact;
	color:#066;
	text-shadow:1px 1px 1px #ddd;
	margin:5px 0px;
	height:25px;
	line-height:25px;
}
.koseyazibox {
	background:#ddd url(images/kose.png) no-repeat bottom left;
	min-height:60px;
	padding:5px;
	margin-bottom:2px;
}					
.koseyazibox .resim{
	width:60px;
	height:60px;
	float:left;
	margin-right:5px;
}					
.koseyazibox .kyb{
	display:block;
	line-height:20px;
	height:20px;
	color:#333;
	font-size:15px;
	letter-spacing:1px;
	font-family:impact;
}						
.koseyazibox .kybb{
	display:block;
	line-height:16px;
	font-size:14px;
	color:#036;
	font-weight:bold;
}						
.seccont {
	padding-bottom:10px;
	background:url(images/kate/ek/f.png) no-repeat bottom left;
	}
.seccont .khe {
	margin:0px;
	display:block;
	background:url(images/kate/ek/b.png) no-repeat top left;
	height:45px;
	line-height:40px;
	font-size:14px;
	color:#fefefe;
	letter-spacing:1px;
	font-weight:normal;
	padding:0px 5px;
	}
.seccont .khe ul { list-style:none;}
.seccont .khe ul li{ display:block; float:left; }
.seccont .khe ul li a{ display:block; float:left; height:30px; line-height:30px; padding:0px 15px; margin:5px 1px; color:#333; background-color:#dedede; }		
.seccont .khe ul li a:hover{ display:block; float:left; height:30px; line-height:30px; padding:0px 15px; margin:5px 1px; color:#dedede; background-color:#333; }		
.seccont .khe ul li a.aktif{ display:block; float:left; height:30px; line-height:30px; padding:0px 15px; margin:5px 1px; color:#fefefe; background-color:#4a4a4a; }		
.seccont .kbc {
	margin:0px;
	background:url(images/kate/ek/m.png) repeat-y top left;
	padding:10px 10px 1px 10px;
	}	
.seccont .kbc .hkl {
	margin:0px;
	}	
