#jFlowSlide{ background:#DBF3FD; font-family: Georgia; }
#myController { font-family: Georgia; padding:2px 0;  width:300px; background:#3AB7FF; }
#myController span.jFlowSelected { background:#43A0D5;margin-right:0px; }

.slide-wrapper { padding: 5px; }
.slide-thumbnail { width:290px;
height:150px;}
.slide-thumbnail img {width:290px; height:150px;}
.slide-details { width:290px; float:right; margin-left:10px;}
.slide-details h2 { font-size:1.5em; font-style: italic; font-weight:normal; line-height: 1; margin:0; }
.slide-details .description { margin-top:10px; }

.jFlowControl, .jFlowPrev, .jFlowNext { color:#FFF; cursor:pointer; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; }
.jFlowControl:hover, .jFlowPrev:hover, .jFlowNext:hover { background: #43A0D5; }


#sliderwrapper {
	width:652px;
	height:250px;
	position:relative;
	overflow:hidden;
}
#sliderwrapper #sicerik{
	float:left;
	width:415px;
	height:250px;
	padding-right:2px;
	background:#505050;
}
#sliderwrapper #sicerik .sbox{
	width:415px;
	height:250px;
	position:relative;
	overflow:hidden;
}
#sliderwrapper #sicerik .sbox img.m{
	width:415px;
	height:250px;
	position:absolute;
	margin:0px;
	z-index:1;
}

#sliderwrapper #sicerik .sbox .bilgiler{
	width:405px;
	height:60px;
	padding:5px;
	position:absolute;
	margin-top:170px;
	z-index:1000;
 	filter:alpha(opacity=80);
    opacity:0.8;
	background:#333;
	color:#FFF;
	overflow:hidden;
	font-size:11px;	
}
#sliderwrapper #sicerik .sbox .bilgiler a {
	color:#ffff66;
	font-size:13px;
	font-weight:bold;
	display:block;
	line-height:14px;
	}
#sliderwrapper #snaviga{
	float:right;
	width:235px;
}

#sliderwrapper #snaviga .sla{
	display:block;
 	filter:alpha(opacity=60);
    opacity:0.6;
	height:50px;
	background:url(images/slider/sliderli.png) no-repeat top left;
color:#000;
}

#sliderwrapper #snaviga .sla:hover{
 	filter:alpha(opacity=100);
    opacity:1;
	display:block;
	height:50px;
	background:url(images/slider/sliderli.png) no-repeat top left;
}

#sliderwrapper #snaviga .slaaktif, #sliderwrapper #snaviga .slaaktif:hover{
 	filter:alpha(opacity=100);
    opacity:1;	
	display:block;
	height:50px;
	background:#505050;
	color:#efefef;
}

.mslimage {
	display:block;
	float:left;
	width:40px;
	margin:5px;
	}
	
.slaaktif .mslspant {
	width:180px;
	display:block;
	float:right;
	height:40px;
	margin:5px 5px 5px 0px;
	overflow:hidden;
	}
.slaaktif .mslspant strong.s1{
	font-weight:bold;
	line-height:20px;
	display:block;
	font-size:13px;
}
.slaaktif .mslspant strong.s2{
	color:#FFF;
	font-weight:normal;
	line-height:11px;
	display:block;
	font-size:11px;
}

.sla .mslspant {
	width:180px;
	display:block;
	float:right;
	height:40px;
	margin:5px 5px 5px 0px;
	overflow:hidden;
	}
.sla .mslspant strong.s1{
	font-weight:bold;
	line-height:20px;
	display:block;
	font-size:13px;
}