body {
	padding:none;
	margin:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px/22px;
	background:#fff;
	}
a {
	text-decoration:none;
	}	
#haberwrapper {
	width:960px;
	margin:0px 5px; 
    margin-left:auto;
    margin-right:auto;

	}	
#headerwrapper{
	height:142px;
}	
#headerwrapper #headerust{
	height:30px;
	background:#8b0b08;
	font-size:11px;
}	
#headerwrapper #headerust #hsoldiv{
	height:30px;
	line-height:30px;
	margin-left:5px;
	color:#FFF;
	float:left;
	width:600px;
}	
#headerwrapper #headerust #hsoldiv a {
	color:#CCC;
	font-weight:bold;
	letter-spacing:1px;
	text-decoration:underline;
	}
#headerwrapper #headerust #hsoldiv a:hover {
	color:#FFFF66;
	text-decoration:none;
	}
#headerwrapper #headerust #hsagdiv{
	height:30px;
	line-height:30px;
	margin-right:5px;
	color:#FFF;
	float:right;
	width:330px;
	text-align:right;
}	
#headerwrapper #headerust #hsagdiv a {
	color:#F90;
	font-weight:bold;
	}
#headerwrapper #headerust #hsagdiv a:hover{
	color:#fefefe;
	font-weight:bold;
	}
#headerwrapper #headerlogo {
	position:absolute;
	width:300px;
	top:35px;
	margin-left:5px;
	height:65px;
	}
#headerwrapper #headerreklam {
	position:absolute;
	width:460px;
	top:35px;
	margin-left:492px;
	height:60px;
	}
#headerwrapper #headermenu {
	position:absolute;
	margin-top:70px;
	background:url(images/menubg.png) repeat-x top left;
	height:41px;
	width:960px;
}	

#headermenu ul{
	display:block;
	list-style:none;
}	
#headermenu ul li{
	display:block;
	margin:0px;
	padding:0px;
}	

#headermenu ul li.kategoriler{
	display:block;
	float:left;
}	

#headermenu ul li.kategoriler a{
	display:block;
	float:left;
	background:url(images/menuli.png) no-repeat top right;
	height:39px;
	line-height:39px;
	font-size:14px;
	letter-spacing:-10;
	color:#900;
	padding:0px 12px 0px 10px;
}	

#headermenu ul li.kategoriler a:hover, #headermenu ul li.kategoriler a.aktif {
	display:block;
	float:left;
	background:url(images/menulih.png) no-repeat top right;
	height:39px;
	line-height:39px;
	font-size:14px;
	letter-spacing:-10;
	color:#333;
	padding:0px 12px 0px 10px;
}	

#headermenu ul li.diger{
	display:block;
	float:right;
}	
#headermenu ul li.diger a{
	display:block;
	float:right;
	height:32px;
	line-height:32px;
	font-size:13px;
	color:#900;
	padding:4px 5px 3px 5px;
}	
#soltaraf {
	float:left;
	width:652px;
	}
#sagtaraf {
	float:right;
	width:300px;
	}

.guncel_haber
{   margin-top:10px;
    width:300px;
}

#haberfooter {
background: url(images/footer.png) no-repeat top left;
margin-top: 5px;
width: 960px;
height: 95px;
display: block;
margin-left: auto;
margin-right: auto;
float: left;
	}	
#haberfooter .ftic{
padding:10px;
font-size:12px;
}	

#haberfooter .ftic .acopy{
	color:#900;
	font-weight:bold;
	letter-spacing:1px;
}
#haberfooter .ftic .fcopy{
	color:#030;
}
.ayrac {
	background:url(images/ayrac.png) no-repeat top center;
	height:3px;
	margin:2px 0px; 
	}	
.hkleft {	width:324px;
float:left; 	border-right:1px dashed #dedede;
}	.hkright {	width:325px;
 margin-left:2px; float:right;}	

     .hkleft2 {	width:650px;
float:left; 	border-right:1px dashed #dedede;
}	.hkright {	width:325px;
 margin-left:2px; float:right;}	

/*.haberkatbox{
	background:url(images/haberb/h.png) no-repeat top left;
	width:325px;
	float:left;
	}	
.haberkatbox .h2{
	position:relative;
	line-height:40px;
	height:40px;
	padding-left:5px;
	font-size:15px;
	font-weight:bold;
	letter-spacing:1px;
	color:#FC6;
	text-shadow:1px 1px #000;
	}	
	
.haberkatbox .katboxic{
	background:url(images/haberb/bg.png) repeat-y top left;
	padding:5px;
	}	
.haberkatbox .katboxf{
	background:url(images/haberb/f.png) no-repeat top left;
	height:10px;
	}			
*/
.haberkatbox{
	float:left;
	}	
.haberkatbox .h2{
	position:relative;
	line-height:40px;
	height:40px;
	padding-left:5px;
	font-size:15px;
	font-weight:bold;
	letter-spacing:1px;
	color:#333;
	text-shadow:1px 1px #fff;
	background-color:#dedede;
	}	
	
.haberkatbox .katboxic{
	padding:5px;
	}	
.haberkatbox .katboxf{
	height:10px;
	}			

.haberkatbox .h2 a.tumugoster{
	position:absolute;
	display:block;
	line-height:40px;
	height:40px;
	right:5px;
	top:0px;
	font-size:12px;
	letter-spacing:1px;
	color:#066;
	width:40px;
	text-align:center;
	text-shadow:none;
	}		
.haberbox {
	text-align:justify;
	}
.haberkatbox .katboxic .haberbox .rhaber {
	width:100px;
	height:60px;
	float:left;
	margin-right:5px;
	}

.rhaber2 {
	float:left;
	margin-right:5px;
	}

.rhaber3 {
width: 300px;
float: left;
margin: 5px 5px 5px 0px;

	}


.haberkatbox .katboxic .haberbox .bhaber a {
	display:block;
	line-height:13px;
	font-size:12px;
	font-weight:bold;
	color:#900;
	margin-bottom:3px;
	}
.haberkatbox .katboxic .haberbox .ihaber{
	line-height:12px;
	font-size:11px;
	color:#333;
	}

.itext
{
line-height: 12px;
height: 400px;
}

.clboth {
	clear:both;
	}

haberkatbox hkleft2
{ 

}

.itext_image
{
    border: 2px;
width: 300px;
height: 300px;
margin-top: 45px;
float:left;
}