﻿@model haber_portal.Models.haberdetay
@{
    ViewBag.Title = "haberdetay";
}


<div id="soltaraf">
<!--Slide-->

<!--Slide-->

<div style="height:10px;"></div>

<div class="haberkatbox hkleft2">
<h2 class="h2">@Model.kategori</h2>
<div class="katboxic">

 
<div class="haberbox">
<span class="bhaber"><a href="/@Model.kategori_adi/@Model.haber_id">@Model.haber_baslik</a></span>
<span class="ihaber" style="display:block">@Model.haber_spot</span>
<a href="#"><img src="/@Model.haber_buyukresim" width="300" class="rhaber3" /></a>

<span class="itext">@Html.Raw(Model.haber_icerik)</span>
<div style="border-top: 1px solid maroon; margin-top: 10px; display: block; float: left; width: 100%;">
    <span style=" font: bolder 16px arial; display: block; ">Yorumlar</span>
    <span style=" font: bold 12px arial; display: block; ">Bu haber için @Model.yorumlar.Count() yorum bulunmaktadır.</span>
    @if (Session["uname"]!=null)
    {
        <form action="/home/yorum_yap?return_url=@HttpContext.Current.Request.Url.AbsolutePath" method="post">
            <textarea rows="5" cols="50" style="display: block;" name="yorumtext"></textarea>
            <button type="submit">Yorum Yap</button>
            <input name="uid" value="@Session["uid"]" style="visibility:hidden;" />
            <input name="hid" value="@Model.haber_id" style="visibility:hidden;" />
        </form>
    }
    @foreach (var item in Model.yorumlar)
    {
        <div style=" display: block; border-top: 1px solid maroon; ">
            <span style=" display: block; font: bolder 15px arial; color: maroon; padding: 3px; ">@item.nick</span>
            <span style=" margin-left: 15px; font: 12px arial; display: block; ">@item.yorum_icerik</span>
            <span style=" display: block; text-align: right; color: maroon; font: bolder 10px arial; ">(@item.yorum_tarih.ToShortDateString())</span>
        </div>
    }
</div>



</div></div></div></div>
<!--Sol Taraf-->
<div id="sagtaraf">
<div id="reklam1">
    <div style="display: block;width: 300px;float: left;border-bottom: 1px solid maroon;margin-bottom: 5px;">
    <span style="font: bold 14px arial;display: block;color: maroon;padding: 5px;">
                              <a href="/@Model.kategori_url">En Son @Model.kategori_adi Haberleri</a>
                          </span>

    </div>
    @foreach (var item in Model.ilgili_5_haber)
                  {
                      <div style="display: block;width: 300px;float: left;border-bottom: 1px solid maroon;height: 60px;margin-bottom: 5px;">
                          <span style="display: block;float: left;padding: 0px 5px 0px 0px;">
                              <a href="/@Model.kategori_url/@item.haber_id"><img src="/@item.haber_kucukresim" /></a>
                          </span>
                          <span style="font: bold 12px arial;display: block;color: maroon;">
                              <a href="/@Model.kategori_url/@item.haber_id">@item.haber_baslik</a>
                          </span>
                          <span style="font: 9px arial;display: block;height: 35px;overflow: auto;">
                              @item.haber_spot
                          </span>
                          <span style="font: bolder 9px arial;display: block;color: maroon;text-align: right;">
                              (@item.haber_tarih.ToShortDateString())
                          </span>
                      </div>
                  }
</div>

</div>
<!--Sag Taraf-->
<div class="clboth"></div>
