﻿@model haber_portal.Models.index
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="icerikwr">
<div id="soltaraf">
<!--Slide-->
<div id="sliderwrapper">
<div id="sicerik">
    @{
        int k = 0;
    }
   @foreach (var item in Model.tum_haberler.Take(5))
   {
       k++;
       <div class="sbox" id="@Html.Raw("sliderb"+@k)">
<div class="bilgiler"><a href="/@item.kategori_url/@item.haber_id"><strong>@item.haber_baslik</strong></a>@item.haber_spot</div>
<img src="@item.haber_buyukresim" class="m"/></div>
   }
    </div>
    @{k = 0;}
<div id="snaviga">
    @foreach (var item in Model.tum_haberler.Take(5))
    {
        k++;
<a id="@Html.Raw("slider"+@k)" href="#" onmouseover="Manset(@k);" class="slaaktif">
<img class="mslimage" src="@item.haber_buyukresim"/>
<span class="mslspant"><strong class="s1">@item.haber_baslik</strong></span>
<span style="display:block; clear:both"></span>
</a>

    }

</div>
<div class="clboth"></div>
</div>
<!--Slide-->

<div style="height:10px;"></div>

<div class="haberkatbox hkleft">
<h2 class="h2">Magazin Haberleri<a class="tumugoster" href="/magazin_haberleri">Tümü</a></h2>
<div class="katboxic">

    @foreach (var item in Model.tum_haberler.Where(x=>x.kategori_id==4).Take(5))
    {
 <div class="haberbox">
<a href="/magazin_haberleri/@item.haber_id"><img src="@item.haber_kucukresim" width="100" height="66" class="rhaber" /></a>
<span class="bhaber"><a href="/magazin_haberleri/@item.haber_id">@item.haber_baslik</a></span>
<span class="ihaber">@item.haber_spot</span>
<span style="clear:left; display:block;"></span>
</div>

<div class="ayrac"></div>
    }

</div>
<div class="katboxf"></div>
</div>


<div class="haberkatbox hkright">
<h2 class="h2">Spor Haberleri<a class="tumugoster" href="/spor_haberleri">Tümü</a></h2>
<div class="katboxic">

      @foreach (var item in Model.tum_haberler.Where(u=>u.kategori_id==1).Take(5))
  {
  <div class="haberbox">
<a href="/spor_haberleri/@item.haber_id"><img src="@item.haber_kucukresim" width="100" height="66" class="rhaber" /></a>
<span class="bhaber"><a href="/spor_haberleri/@item.haber_id">@item.haber_baslik</a></span>
<span class="ihaber">@item.haber_spot</span>
<span style="clear:left; display:block;"></span>
</div>

<div class="ayrac"></div>
  }

</div>



<div class="katboxf"></div>
</div>
<div class="clboth" style="height:10px;"></div>

<div style="height:3px;"></div>

<div class="haberkatbox hkleft">
<h2 class="h2">Sağlık &amp; Teknoloji<a class="tumugoster" href="/saglik_ve_teknoloji">Tümü</a></h2>
<div class="katboxic">

    @foreach (var item in Model.tum_haberler.Where(p=>p.kategori_id==2).Take(5))
    {
        <div class="haberbox">
<a href="/saglik_ve_teknoloji/@item.haber_id"><img src="@item.haber_kucukresim" width="100" height="66" class="rhaber" /></a>
<span class="bhaber"><a href="/saglik_ve_teknoloji/@item.haber_id">@item.haber_baslik</a></span>
<span class="ihaber">@item.haber_spot</span>
<span style="clear:left; display:block;"></span>
</div>

<div class="ayrac"></div>
    }






</div>
<div class="katboxf"></div>
</div>

<div class="haberkatbox hkright">
<h2 class="h2">Üniversite &amp; Eğitim<a class="tumugoster" href="/egitim_haberleri">Tümü</a></h2>
<div class="katboxic">

    @foreach (var item in Model.tum_haberler.Where(j=>j.kategori_id==3).Take(5))
    {
        <div class="haberbox">
<a href="/egitim_haberleri/@item.haber_id"><img src="@item.haber_kucukresim" width="100" height="66" class="rhaber" /></a>
<span class="bhaber"><a href="/egitim_haberleri/@item.haber_id">@item.haber_baslik</a></span>
<span class="ihaber">@item.haber_spot</span>
<span style="clear:left; display:block;"></span>
</div>

<div class="ayrac"></div>
    }




</div>
<div class="katboxf"></div>
</div>
<div class="clboth" style="height:10px;"></div>

</div>
<!--Sol Taraf-->
<div id="sagtaraf">
<div id="reklam1"><img src="images/reklam/300x250_img.jpg" /></div>

<div class="guncel_haber"><!-- BAŞLA: TRT Haber Sitene Ekle -->
<div style="font: normal 11px Arial; width: 298px; border: solid 1px #ccc; background: #fff; border-radius: 3px; box-shadow: 1px 1px 3px #ccc;">
    <h2 style="padding: 8px; margin: 0; height: 25px; border: 0; border-bottom: solid 1px #ccc;">
        <a href="http://www.trthaber.com/">
            <img src="http://s2.trthaber.com/static/images/siteneEkle/logo_a_v2.png" alt="TRT Haber Haberler" style="border: none 0;">
        </a>
    </h2>
    <iframe frameborder="0" width="298" height="282" src="http://www.trthaber.com/sitene-ekle/mansetler-m/?haberSay=10&renk=a&resimler=1"></iframe>
    <div style="text-align: center;line-height: 23px;border-top: solid 1px #ccc; color: #666; margin-top: 5px;box-shadow: 0 -1px 3px #ccc;">
        <a style="text-decoration: none;color: #666; font: normal 11px Arial;" href="http://www.trthaber.com/">En Son Haberler</a> &nbsp;|&nbsp; <a style="text-decoration: none;color: #666; font: normal 11px Arial;" href="http://www.trthaber.com/tum-mansetler.html">Haber Manşetleri</a>
    </div>
</div>
<!-- BİTİŞ: TRT Haber Sitene Ekle -->
</div>

    <div class="guncel_haber"><!-- BAŞLA: TRT Spor Sitene Ekle -->
<div style="font: normal 11px Arial; width: 298px; border: solid 1px #ccc; background: #fff; border-radius: 3px; box-shadow: 1px 1px 3px #ccc;">
    <h2 style="padding: 8px; margin: 0; height: 25px; border: 0; border-bottom: solid 1px #ccc;">
        <a href="http://www.trtspor.com.tr/">
            <img src="http://s3.trtspor.com.tr/static/img/siteneEkle/logo_a.png" alt="TRT Spor Haberler" style="border: none 0;">
        </a>
    </h2>
    <iframe frameborder="0" width="298" height="282" src="http://www.trtspor.com.tr/puandurumu-ekle/?lig=1&renk=a&baslik=1&resimler=1&a=7"></iframe>
    <div style="text-align: center;line-height: 23px;border-top: solid 1px #ccc; color: #666; margin-top: 5px;box-shadow: 0 -1px 3px #ccc;">
        <a style="text-decoration: none;color: #666; font: normal 11px Arial;" href="http://www.trtspor.com.tr/puandurumu_ekle.html" target="_blank">Ayrıntılı Puandurumu Tablosu</a>
    </div>
</div>
<!-- BİTİŞ: TRT Spor Sitene Ekle -->

         <div class="guncel_haber">
            <object allowscriptaccess="always" type="application/x-shockwave-flash" data="http://dirne.xmlrequest.info/template.swf?id=406553:1&lang=tr" bgcolor="#ffffff" width="300" height="174" wmode="transparent"><param name="allowscriptaccess" value="always" /><param name="movie" value="http://dirne.xmlrequest.info/template.swf?id=406553:1&lang=tr" /><param name="bgcolor" value="#ffffff" /><embed src="http://dirne.xmlrequest.info/template.swf?id=406553:1&lang=tr" type="application/x-shockwave-flash" allowscriptaccess="always" wmode="transparent" bgcolor="#ffffff" width="300" height="174" /><video width="300" height="174"><a href="http://www.onlinecasinoindependent.com/" title="online casino" style="font-style:normal;font-size:14px;text-decoration:underline">http://www.onlinecasinoindependent.com/</a></video></object>

</div>


</div>

    
</div>
</div>
<!--Sag Taraf-->
<div class="clboth"></div>
</div>
