﻿@model haber_portal.Models.indexbycategories
@{
    ViewBag.Title = "IndexByCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}




<div id="icerikwr">
<div id="soltaraf">
<!--Slide-->

<!--Slide-->

<div style="height:10px;"></div>

<div class="haberkatbox hkleft2">
<h2 class="h2">@Model.kategori</h2>
<div class="katboxic">

 @foreach (var item in Model.tum_haberler)
	{
		 <div class="haberbox">
<a href="/@item.kategori_adi/@item.haber_id"><img src="/@item.haber_buyukresim" width="100" class="rhaber2" /></a>
<span class="bhaber"><a href="/@item.kategori_adi/@item.haber_id" style=" font-size: large; ">@item.haber_baslik</a></span>
<span class="ihaber">@item.haber_spot</span>
<span class="ihaber">dşgks sgkss gsdfkgksldfkgdf dsgkdsgsdg sgk</span>

<span style="clear:left; display:block;"></span>
</div>
<div class="ayrac"></div>
	}

 </div>


<div class="katboxf"></div>
</div>


<div class="clboth" style="height:10px;"></div>

</div>
<!--Sol Taraf-->
<div id="sagtaraf">
<div id="reklam1"><img src="/images/reklam/300x250_img.jpg" /></div>

</div>
<!--Sag Taraf-->
<div class="clboth"></div>
</div>
